body {
	font-family: "Arial", sans-serif;
}

section {
	font-family: "Tahoma", sans-serif;
}

.highlight {
	color: #0fc;
}

.content {
	float: left;
	width: 65%;
	padding: 20px;
	background-color: darkslategray;
	color: white;
}

.sidebar {
	float: right;
	width: 30%;
	padding: 20px;
	background-color: slategray;
}

footer {
	clear: both;
}